* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: red;
}

/* Header */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    color: orange;
    width: 100%;
    height: 60px;
    max-width: 1800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(15px);
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: orange;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    color: orange;
}

li a {
    color: rgb(221, 123, 19);
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .toggle_btn {
    color:orange;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* dropdown */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
    
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* hero */

section {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    color: orange;
    font-size: 3rem;
    margin-bottom: 1rem;
    backdrop-filter: blur(15px);
}

/* VRES ROW */
.vres_row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
  
  .coluna {
    flex: 1 0 0;
    max-width: 6.66%; /* 100 / 15 = 6.66 */
  }
  
  .coluna-2 {
    flex: 1 0 0;
    max-width: 13.33%; /* 6.66 * 2 = 13.33 */
  }
  
  .coluna-3 {
    flex: 1 0 0;
    max-width: 20%; /* 6.66 * 3 = 20 */
  }

  .coluna-4 {
    flex: 1 0 0;
    max-width: 26.66%; /* 6.66 * 4 = 26.66 */
  }

  .coluna-5 {
    flex: 1 0 0;
    max-width: 33.33%; /* 6.66 * 5 = 33.33 */
  }

  .coluna-6 {
    flex: 1 0 0;
    max-width: 40%; /* 6.66 * 6 = 40 */
  }

  .coluna-7 {
    flex: 1 0 0;
    max-width: 46.66%; /* 6.66 * 7 = 46.66 */
  }

  .coluna-8 {
    flex: 1 0 0;
    max-width: 53.33%; /* 6.66 * 8 = 53.33 */
  }

  .coluna-9 {
    flex: 1 0 0;
    max-width: 60%; /* 6.66 * 9 = 60 */
  }

  .coluna-10 {
    flex: 1 0 0;
    max-width: 66.66%; /* 6.66 * 10 = 66.66 */
  } 

  .coluna-11 {
    flex: 1 0 0;
    max-width: 73.33%; /* 6.66 * 11 = 73.33 */
  } 

  .coluna-12 {
    flex: 1 0 0;
    max-width: 80%; /* 6.66 * 12 = 80 */
  } 

  .coluna-13 {
    flex: 1 0 0;
    max-width: 86.66%; /* 6.66 * 13 = 86.66 */
  } 

  .coluna-14 {
    flex: 1 0 0;
    max-width: 93.33%; /* 6.66 * 14 = 93.33 */
  } 

  .coluna-15 {
    flex: 1 0 0;
    max-width: 100%; /* 6.66 * 15 = 100 */
  } 

/* responsive */

@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none   ;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
    #hero h1{
        font-size: 2rem;
        backdrop-filter: blur(15px);
    }
    .vres_row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    #hero h1{
        font-size: 2rem;
        backdrop-filter: blur(15px);
    }
    .coluna-3 {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .vres_row {
        display: flex;
        flex-direction: column;
    }
}
